<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace ：对应的mapper接口 -->
<mapper namespace="com.turning.mybatis.mapper.DynamicSQLMapper">


    <sql id="empColumns">
        emp_id, emp_name, age, gender, dept_id
    </sql>


    <insert id="insertMoreEmp">
        insert into t_emp values
        <foreach collection="emps" item="emp" separator=",">
            (#{emp.empId}, #{emp.empName}, #{emp.age}, #{emp.gender}, null)
        </foreach>
    </insert>
    <delete id="deleteMoreEmps">
            delete from t_emp where emp_id in
            (
                <foreach collection="empIds" item="empId" separator=",">
                    #{empId}
                </foreach>
            )
    </delete>

    <select id="getEmpByCondition" resultType="Emp">
        select <include refid="empColumns"></include> from t_emp
       <trim prefix="where" suffixOverrides="and">
            <if test="empName != null and empName != '' ">
                 emp_name = #{empName} and
            </if>
            <if test="age != null and age != '' ">
                 age = #{age} and
            </if>
            <if test="gender != null and gender != '' ">
                 gender = #{gender}
            </if>
    </trim>
    </select>
    <select id="getEmpByChoose" resultType="Emp">
        select * from t_emp
        <where>
            <choose>
                <when test="empName != null and empName != '' ">
                    emp_name = #{empName}
                </when>
                <when test="age != null and age != '' ">
                    age = #{age}
                </when>
                <when test="gender != null and gender != '' ">
                    gender = #{gender}
                </when>

            </choose>
        </where>
    </select>
</mapper>